// crated this import so I have access to the global variables
@import '../../App.scss';

.wrapper{display: flex;align-items: start;justify-content: start;flex-wrap: wrap;position: relative;
    box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
    -webkit-box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
}

// Search
.searchWrap{width: calc(100% - 48px); 
    input{padding: 17px; max-height: 48px; border: none; width: 100%; 
        &:focus{outline: none; border:none;}
    }
    ::placeholder{ color: $dk_gray;}
}
.nosearches{background-color: $gray; padding: 15px; width: 100%;}

// Dropdown
.searches{background-color: $white; padding: 0; width: 100%; max-height:384px; overflow: scroll; box-shadow: 3px 15px 22px -9px rgba(0,0,0,0.2) inset;
    -webkit-box-shadow: 3px 15px 22px -9px rgba(0,0,0,0.2) inset;
    -moz-box-shadow: 3px 15px 22px -9px rgba(0,0,0,0.2) inset;
    .profileImg{height: 64px; width: auto;}
    .link{display: flex;align-items: center;justify-content: start; padding: 15px ; width: 100%; text-decoration: none; @include transition();border-bottom:solid 1px $gray1;
        &:hover{background-color: $gray1; @include transition();}
    }
    .txtInfo{padding: 0 15px; 
        .name{font-size: 18px; color: $purple;}
        .url{font-size: 13px; color:$purple}
    }
}

.item{display: flex;align-items: center;justify-content: start;flex-wrap: wrap; padding: 0 0 15px;
    a{color:$white; text-decoration: none; padding-bottom: 5px;}
}
.submitWrp{position: relative; height: 48px; 
    .submit{height: 48px; width: 48px; position: relative; border:none; background-color:$pink;}
    svg{position: absolute; top: 50%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; z-index: 10; height:20px; color:white;}
}