// crated this import so I have access to the global variables
@import '../../App.scss';

.wrapper{display: flex;align-items: start;justify-content: start;flex-wrap: wrap;position: relative;
    box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
    -webkit-box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 2px -1px 37px 2px rgba(0,0,0,0.39);
}

// Search
.searchWrap{width: calc(100% - 48px); 
    input{padding: 17px; max-height: 48px; border: none; width: 100%; 
        &:focus{outline: none; border:none;
            box-shadow: 0px 0px 20px 0px rgba(255,154,172,0.5) inset;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(255,154,172,0.5) inset;
            -moz-box-shadow: 0px 0px 20px 0px rgba(255,154,172,0.5) inset;
        }
        
    }
    ::placeholder{ color: $dk_gray;}
}

// Dropdown
.searches{background-color: $gray; padding: 15px; width: 100%;}

.item{
    a{color:$white; text-decoration: none; padding-bottom: 5px;}
}
.submitWrp{position: relative; height: 48px;
    .submit{height: 48px; width: 48px; position: relative; border:none; background-color:$pink;}
    svg{position: absolute; top: 45%; transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; z-index: 10; height:20px; color:white;}
}